<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
    <meta charset="utf-8">
    <meta name="author" content="hoanghamobile.com">
    <meta property='og:site_name' content='hoanghamobile.com' />
    <meta name="google-site-verification" content="JOFGGI7j9vWfBf-xpElM5Tec0UJ1k_CfdNjpaHm5z10" />
    <meta name="msvalidate.01" content="5C8CDF0992489498A30F9E5F6668A4D5" />
    <meta name="geo.placename" content="Hanoi, Hoàn Kiếm, Hanoi, Vietnam" />
    <meta name="geo.position" content="21.017249242314964;105.84134504199028" />
    <meta name="geo.region" content="VN-Hanoi" />
    <meta name="ICBM" content="21.017249242314964, 105.84134504199028" />

    <title>Đức Thắng Mobile</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/ContentWeb/favicon.ico" />
    <link rel="preload" href="~/ContentWeb/web/fonts/Segoe%20UI/Segoe%20UI.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/ContentWeb/web/fonts/Segoe%20UI/Segoe%20UI%20Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/ContentWeb/web/fonts/Segoe%20UI/Segoe%20UI%20Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/ContentWeb/web/fonts/Segoe%20UI/Segoe%20UI%20Bold%20Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/ContentWeb/web/fonts/Segoe%20UI/Segoe%20UI%20Semilight.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/ContentWeb/web/fonts/Segoe%20UI/Segoe%20UI%20Semilight%20Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/ContentWeb/Content/web/fonts/icon/fonts/hoangha.woff" as="font" type="font/woff" crossorigin>

    <link rel="preload" as="script" href="~/ContentWeb/js-css/web_v1.0.9.9.js">
    <link rel="preload" as="style" href="~/ContentWeb/js-css/web_v1.0.9.9.css">
    <link href="~/ContentWeb/js-css/web_v1.0.9.9.css" rel="stylesheet" type="text/css">
    <script src="~/ContentWeb/popupcss/7fcc5972f1.js"></script>
    <link href="~/ContentWeb/popupcss/style.css" rel="stylesheet" type="text/css"/>
    @*<link href="~/ContentWeb/js-css/mobile_v1.0.9.9.css.tmp" rel="stylesheet" type="text/css" />*@
    <script>
        window.insider_object = {};
    </script>



    <link rel="canonical" href="index.html" />
    <meta name="description" content="Si&#234;u thị điện thoại di động gi&#225; rẻ nhất" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="Ho&#224;ng H&#224; Mobile" />
    <meta property="og:description" content="Si&#234;u thị điện thoại di động gi&#225; rẻ nhất" />




    <script async src="~/ContentWeb/hoanghamobilevn.api.useinsider.com/ins05e0.js?id=10005327"></script>
</head>

<body>
    <header>
        <!-- MenuHeader -->
        @{Html.RenderAction("Header", "Home");}
        <!-- MenuHeader -->

        <!-- Logo and searchbox -->
        @{Html.RenderAction("Logo", "Home");}
        <!-- Logo and searchbox -->

        <!-- MenuHeader -->
        @{Html.RenderAction("MenuHeader", "Home");}
        <!-- End MenuHeader -->

    </header>


    <!-- Body -->
    @RenderBody()
    <!-- End Body -->

    <!-- Content -->
    <section>
        <div class="container">
            <div class="corevalue">
                <div class="item">
                    <span class="icon">
                        <i class="icon-chinhhang"></i>
                    </span>
                    <div class="text">
                        <span>Sản phẩm</span>
                        <strong>CH&#205;NH H&#195;NG</strong>
                    </div>
                </div>
                <div class="item">
                    <span class="icon">
                        <i class="icon-freeship"></i>
                    </span>
                    <div class="text">
                        <span>Miễn ph&#237; vận chuyển</span>
                        <strong>TO&#192;N QUỐC</strong>
                    </div>
                </div>
                <div class="item">
                    <span class="icon">
                        <i class="icon-hotline"></i>
                    </span>
                    <div class="text">
                        <span>Hotline hỗ trợ</span>
                        <strong>03.7777.3870</strong>
                    </div>
                </div>
                <div class="item">
                    <span class="icon">
                        <i class="icon-doitra"></i>
                    </span>
                    <div class="text">
                        <span>Thủ tục đổi trả</span>
                        <strong>DỄ D&#192;NG</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="subscript">
                <div class="icon-text">
                    <img src="~/ContentWeb/web/img/sub-logo.png" />
                    <div class="text">
                        <h4>Đăng ký nhận tin</h4>
                        <p>Đăng ký để nhận những chương trình khuyến mại hot nhất</p>
                    </div>
                </div>
                <div class="form">
                    <form onsubmit="return submitSubscription(this);">
                        <input name="__RequestVerificationToken" type="hidden" value="7R0Hzv1naqG2vzxjQ_JIdp0kKlndWW30RbwdE7lznfGQaFNCNJCKl1PhnitefZjmZ5vEMWlDCNDj8R0WRXjJYA48gnQ1" />
                        <div class="input">
                            <input type="email" id="email" name="email" placeholder="Nhập E-mail của bạn" />
                        </div>
                        <button type="submit"><i class="icon-fly"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Content -->


    <!-- footer -->
    <footer>
        <div class="container">
            <div class="bg">
                <div class="col-content">
                    <div class="link-content">
                        <h4><a>Hỗ Trợ - Dịch Vụ</a></h4>
                        <ul>
                            <li><a href="mua-hang-tra-gop.html">Mua h&#224;ng trả g&#243;p</a></li>
                            <li><a href="huong-dan-dat-hang.html">Hướng dẫn đặt h&#224;ng v&#224; thanh to&#225;n</a></li>
                            <li><a href="chinh-sach-bao-hanh.html">Ch&#237;nh s&#225;ch bảo h&#224;nh</a></li>
                            <li><a href="cau-hoi-thuong-gap.html">C&#226;u hỏi thường gặp</a></li>
                            <li><a href="order/check.html">Tra cứu đơn h&#224;ng</a></li>
                            <li><a href="chinh-sach-bao-mat.html">Ch&#237;nh s&#225;ch bảo mật</a></li>
                            <li><a href="chinh-sach-huy-giao-dich-doi-tra.html">Ch&#237;nh s&#225;ch hủy giao dịch, đổi trả</a></li>
                            <li><a href="chinh-sach-giai-quyet-khieu-nai.html">Ch&#237;nh s&#225;ch giải quyết khiếu nại</a></li>
                            <li><a href="dieu-khoan-mua-ban-hang-hoa.html">Điều khoản mua b&#225;n h&#224;ng h&#243;a</a></li>
                            <li><a href="dat-hang/bao-hanh-mo-rong.html">Phạm vi, điều khoản g&#243;i bảo h&#224;nh mở rộng</a></li>
                        </ul>
                    </div>
                    <div class="link-content">
                        <h4><a>Th&#244;ng Tin Li&#234;n Hệ</a></h4>
                        <ul>
                            <li><a href="mua-hang-online.html">B&#225;n h&#224;ng Online</a></li>
                            <li><a>Chăm s&#243;c Kh&#225;ch H&#224;ng</a></li>
                            <li><a>Hỗ Trợ Kỹ thuật</a></li>
                            <li><a>Hỗ trợ Bảo h&#224;nh &amp; Sửa chữa</a></li>
                            <li><a>Li&#234;n hệ khối văn ph&#242;ng</a></li>
                        </ul>
                    </div>
                    <div class="link-content">
                        <h4><a href="he-thong-cua-hang.html">Hệ thống 75 si&#234;u thị tr&#234;n to&#224;n quốc</a></h4>
                        <ul>
                            <li><a href="he-thong-cua-hang.html">Danh s&#225;ch 75 si&#234;u thị tr&#234;n to&#224;n quốc</a></li>
                        </ul>
                    </div>

                    <div>
                        <h4>Tổng đài</h4>
                        <a class="hotline" href="tel:03.7777.3870">03.7777.3870</a>
                    </div>

                    <div>
                        <h4>Thanh toán miễn phí</h4>
                        <ul class="list-logo">
                            <li>
                                <img src="~/ContentWeb/web/img/logo-visa.png">
                                <img src="~/ContentWeb/web/img/logo-master.png">
                            </li>
                            <li>
                                <img src="~/ContentWeb/web/img/logo-jcb.png">
                                <img src="~/ContentWeb/web/img/logo-samsungpay.png">
                            </li>
                            <li>
                                <img src="~/ContentWeb/web/img/logo-atm.png">
                                <img src="~/ContentWeb/web/img/logo-vnpay.png">
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h4>Hình thức vận chuyển</h4>
                        <ul class="list-logo">
                            <li>
                                <img src="~/ContentWeb/web/img/nhattin.jpg">
                                <img src="~/ContentWeb/web/img/vnpost.jpg">
                            </li>
                        </ul>
                        <div class="mg-top20">
                            <a href="http://online.gov.vn/Home/WebDetails/28738" target="_blank"><img src="~/ContentWeb/web/img/logo-bct.png"></a>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <p>© 2020. C&#212;NG TY CỔ PHẦN X&#194;Y DỰNG V&#192; ĐẦU TƯ THƯƠNG MẠI HO&#192;NG H&#192;. MST:  0106713191. (Đăng k&#253; lần đầu: Ng&#224;y 15 th&#225;ng 12 năm 2014, Đăng k&#253; thay đổi ng&#224;y 29/12/2020)</p>
                    <p><strong>GP số 426/GP-TTĐT do sở TTTT Hà Nội cấp ngày 22/01/2021</strong></p>
                    <p>Địa chỉ: 26 Ph&#249; Đổng Thi&#234;n Vương, P.Phạm Đ&#236;nh Hổ, Q. Hai B&#224; Trưng, H&#224; Nội. Điện thoại: 03.7777.3870. Chịu trách nhiệm nội dung: <strong>Hoàng Ngọc Chiến</strong>. </p>
                    @*<p>Designed by: <strong>Kent Lee</strong> @kentlee.design</p>*@
                </div>
            </div>




            <div id="backtoTop">
                <a id="top" href="javascript:;">
                    <i class="icon-left"></i>
                </a>
            </div>
        </div>
    </footer>
    <!-- End footer -->
    <div id="popup-modal"></div>
    <div id="sticker-modal"></div>
    <div class="search-bg"></div>

    @*<!-- analytics -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '../ContentWeb/www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-1415779-10', 'auto');
            ga('require', 'GTM-KXZQBMD');
            ga('require', 'GTM-WPLRWHK');
            ga('send', 'pageview');

        </script>
        <!-- analytics -->*@
    @*<!-- accesstrade-->
        <script src="~/ContentWeb/static.accesstrade.vn/js/trackingtag/tracking.min.js"></script>
        <script type="text/javascript">
            AT.init({ "campaign_id": 626, "is_reoccur": 1, "is_lastclick": 1 });
            AT.track();
        </script>
        <!-- accesstrade-->*@



    <script src="~/ContentWeb/js-css/web_v1.0.9.9.js"></script>



    <script type="text/javascript">
        hh_home();
    </script>
</body>
</html>


